@charset "UTF-8";

:root
{
	--grid-column-width: 33.33%;
}

html, body
{
	width: 100%;
	height: 100%;
}

.grid-wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
}

.grid-content
{
	width: inherit;
	height: inherit;

	position: relative;

	/*background: green;*/

	overflow: hidden;
}

.grid-main
{
	display: grid;
	grid-template-columns: var(--grid-column-width) var(--grid-column-width) var(--grid-column-width);
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 0;
}

.g0
{
	grid-column: 1;
	grid-row: 1;
	background: #b05f0f;
}

.g1
{
	grid-column: 1;
	grid-row: 2;
	background: #ee2e22;
}

.g2
{
	grid-column: 1;
	grid-row: 3;
	background: #fed105;
}

.g3
{
	grid-column: 1;
	grid-row: 4;
	background: #00843d;
}

.g4
{
	grid-column: 1;
	grid-row: 5;
	background: #f386a0;
}

.g5
{
	grid-column: 1;
	grid-row: 6;
	background: #959ca1;
}

.g6
{
	grid-column: 1;
	grid-row: 7;
	background: #97015e;
}

.g7
{
	grid-column: 1;
	grid-row: 8;
	background: #231f20;
}

.g8
{
	grid-column: 1;
	grid-row: 9;
	background: #1b3f94;
}

.g9
{
	grid-column: 1;
	grid-row: 10;
	background: #069ddc;
}

.g10
{
	grid-column: 1;
	grid-row: 11;
	background: #84cdbc;
}

.btn
{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0; top: 0;
	background: black;
	cursor: pointer;
}






/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}